<div class="h2c">

    <h2><strong>Pizza Type</strong></h2>
  </div>
  
  
  <div class="par">
    <p>Click the type of pizza you want for more information about ingredients</p>
  </div>
  
  <div class="container">
  <div class="main-class">
  
  
  <ul class="pizzas">
  <li *ngFor="let pizza of pizzas"
    [class.selected]="pizza === selectedPizza"
    (click)="onSelect(pizza)">
    <span class="badge">{{pizza.id}}</span> {{pizza.name}}
  </li>
  </ul>
  </div>
  
  
  <div class="sidebar-one">
      <app-menu-detail [pizza]=" selectedPizza "></app-menu-detail>
      </div>
      
  
  
  </div>
  
  
  