<footer class="footer bg-light py-5"> 
    <div class="container"> 
            <div class="row">  
                    <div class="my-center col-lg-4 col-md-4 col-xl-4 col-sm-4 col-12  center-block">
                         <div> 
                                <p class="text-center">CONTACT:</p>
                                <p><img class="phoneIcon" src="{{icons.phone}}">(+383) 45 210 101</p>
                                <p> <img class="mailIcon" src="{{icons.mail}}"> shpendsermaxhaj@gmail.com</p> 

                            </div>
                    </div>
                    <div class="my-center col-lg-4 col-md-4 col-xl-4 col-sm-4 col-12">
                          <div>
                                
                          </div>
  
                    </div>
  
  
                    <div class="my-center col-lg-4 col-md-4 col-xl-4 col-sm-4 col-12 ">  
                            <div> 
                                    <p class="text-center"> FOLLOW US: </p>  
                                    <div class="row"> 
                                     <a href="https://www.facebook.com/sh.sermaxhaj"><img src="{{icons.fb}}" alt=""></a>
                                     <a href="https://www.instagram.com/"><img class="socialIcon" src="{{icons.instagram}}" alt=""> </a>  
                                     <a href="https://twitter.com/Ecnrypetd"><img class="socialIcon" src="{{icons.twitter}}" alt=""> </a>  

                                    </div> 
                            </div>
                    </div> 
                </div>  
                    <p class="text-center"> © 2019, Shpend Sermaxhaj. </p>   
               
    </div> 
  </footer>
  
