<div class="slider">
    <div class="row">
    <div class="col-md-9 col-sm-12 col-lg-9 col-xl-9"> 
   <carousel>
     <slide>
  
  
       <img src="assets/img/NeonPizza.png" alt="first slide" style="display: block; width: 100%;">
     </slide>
     <slide>
       <img src="assets/img/app3.png" alt="second slide" style="display: block; width: 100%;">
     </slide>
     <slide>
       <img src="assets/img/appp2.jpg" alt="third slide" style="display: block; width: 100%;">
     </slide>
   </carousel>
   </div>
  
  
  
  <div class="col-md-3 col-sm-12 col-lg-3 col-xl-3">
  <p>Download Android Application below, click the link</p>
  
  </div>
  </div>
  
  
   </div>
    
  
  
  
  
  