<div class="content-area group">
            
    
    <!-- container -->
    <div class="container">
        <div class="main-area">
           
  
            <p>Our pizza is unique to St. Louis! Our crust is a house blend that's aged for a delightfully light yet sturdy Roman-style crust, made daily at the restaurant. The sauce recipe has been perfected with just the right balance of sweetness, spice, and flavorful herbs. Many of our toppings are made in house, including buffalo chicken pepperoni and even a vegan sausage.  Many of our ingredients are locally sourced, and some are harvested straight from the Baileys’ Micro Farm. Gluten-free and vegan options available.</p>
            
            <!-- info-box -->
            <div class="info-box hide-small">
                <p><strong>Specials</strong>. <br>
                    $6 for 2 slices of cheese or pepperoni<br>
                    $7 for 2 speciality slices<br>
                    $1 cookies
                    </p>
            </div><!-- /info-box -->
            <br>
            <p>We provide a broad range of cultural cuisines to satisfy every customer’s tastes. Whether you are looking for the best pizza in town or prefer a fitness-friendly meal, our authentic Italian selections are exactly what you need. PizzaSRQ is renowned for not only its award-winning pizza, Italian and Greek specialties, but also for its outstanding value and service. Let our chef and attentive staff dazzle you with their “Outside the Box” creativity for both daily specials and catering options.
  
                    We are happy to work with you to provide a delicious meal for any occasion--your quick lunch, a family dinner, Dad's night to cook, pizza party, wedding, or any other time you want to enjoy not having to cook. 
  
            </p>
           
            
           
        </div>
  
        <aside class="sidebar">
  <p>
        <strong>Location and Hours
        OnlinePizza</strong><br>
        5674 Palmer Blvd.
        <br>
       
        Phone: (+383) 210-101
        <br>
        <br>
        
        Current time is: {{today}}
        <br>
  <br>
        <strong>HOURS:</strong><br>
        Monday
        11:00 AM-8:00PM <br>
        Tuesday
        11:00 AM - 8:00 PM<br>
        Wed
        11:00 AM-8:00 PM<br>
        Thursday
        11:00 AM-8:00 PM <br>
        Friday
        11:00 AM-9:00 PM<br>
        Saturday
        11:00 AM-9:00 PM<br>
        Sunday
        Closed
  
        
  </p>
  
  
  
        </aside>
  
  
        
    </div><!-- /container -->
    
  </div>